@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #fff;
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  line-height: normal;
}

.black-title {
  font-size: 8rem;
  font-weight: 900;
}

.header-black {
  font-size: 4rem;
  font-weight: 900;
}

.header-bold {
  font-size: 4rem;
  font-weight: 700;
}

.title-bold {
  font-size: 3rem;
  font-weight: 700;
}

p {
  font-size: 2rem;
  font-weight: 400;
}

.song-title-bold {
  font-size: 1.5rem;
  font-weight: 700;
}

.song-text {
  font-size: 1.5rem;
  font-weight: 400;
}

.ligth-text {
  font-size: 1.5rem;
  font-weight: 200;
}

.btn-primary {
  width: 18rem;
  height: 3.7rem;
  border-radius: 1.8rem;
  background: #1ED760;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn-error {
  background: #D71E1E;
}

.btn-spotify {
  width: 31rem;
  height: 6.8rem;
  border-radius: 100px;
  background: url("../public/asstes/img/spotify.png"), lightgray 50% / cover no-repeat;
}

@media screen and (max-width: 600px) {

  /*Big smartphones [426px -> 600px]*/
  .black-title {
    font-size: 4rem;
  }

  .header-black,
  .title-bold {
    font-size: 2.25rem;
  }

  .header-bold {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.5rem;
  }

  .song-title-bold,
  .song-text {
    font-size: 1.25rem;
  }

  .ligth-text {
    font-size: 1rem;
  }

  .btn-spotify {
    width: 20rem;
    height: 5rem;
    background: url("../public/asstes/img/spotify-responsive.png"), lightgray 50% / cover no-repeat;
  }

  .btn-primary {
    width: 18rem;
    height: 3rem;
  }
}